.uploaded-files-listing ol {
    margin: 0;
}

.uploaded-files-listing .file-index {
    display: inline-block;
    padding: 5px;
    background: darkgrey;
    color: white;
}

.uploaded-files-listing .file-icon,
.uploaded-files-listing .file-name ,
.uploaded-files-listing .file-remove {
    display: inline-block;
    padding: 5px;
}

