@font-face {
    font-family: NovcentoSansWideLight;
    src: url("/fonts/Novecentosanswide-Light.otf") format("opentype");
}

@font-face {
    font-family: NovcentoSansWideBold;
    src: url("/fonts/Novecentosanswide-Bold.otf") format("opentype");
}

@font-face {
    font-family: NovcentoSansWideNormal;
    src: url("/fonts/Novecentosanswide-Normal.otf") format("opentype");
}

@font-face {
    font-family: NovcentoSansWideBook;
    src: url("/fonts/Novecentosanswide-Book.otf") format("opentype");
}


@font-face {
    font-family: "AcuminProLight";
    src: url("/fonts/AcuminPro-Light.woff") format('woff');
}

@font-face {
    font-family: "QuicksandRegular";
    src: url("/fonts/Quicksand-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "SFCompactDisplayRegular";
    src: url("/fonts/SF-Compact-Display-Regular.otf") format('opentype');
}

@font-face {
    font-family: "ProximaNovaLight";
    src: url("/fonts/Proxima Nova Light.ttf") format('truetype');
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("/fonts/Proxima Nova Bold.ttf") format('truetype');
}







