.form-field-awardee-orcid-link {
    border: 1px solid darkgrey;
    padding: 5px;
    display: inline-block;
}


.form-field-awardee-orcid-link .awardee-detail span {
    color: #424242;
}

.form-field-awardee-orcid-link .identity-holder {
    margin-top: 15px;
}

.form-field-awardee-orcid-link .unlinked-identity {
    margin: 5px;
    padding: 5px 12px;
    background: #f0f0f0;
    border: 1px solid darkgrey;
}

.form-field-awardee-orcid-link .linked-identity {
    margin: 5px;
    padding: 5px 12px;
    background: #f0f0f0;
    border: 1px solid darkgrey;
}

.form-field-awardee-orcid-link .linked-identity .unlink-holder {
    margin-top: 12px;
}


#connect-orcid-button{
    border: 1px solid #D3D3D3;
    padding: .3em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #999;
    cursor: pointer;
    color: #999;
    font-weight: bold;
    font-size: .8em;
    line-height: 24px;
    vertical-align: middle;
    margin-top: 5px;
}

#connect-orcid-button:hover{
    border: 1px solid #338caf;
    color: #338caf;
}

#orcid-id-icon{
    display: block;
    margin: 0 .5em 0 0;
    padding: 0;
    float: left;
}